.jumbotron {
    background-image: url('../../../public/img/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}

.black {
    background-color: #1C1C1C;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto;
}

.fumetto {
    width: calc(100% / 6);
    padding: 20px;
    cursor: pointer;
}


.fumetto img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.fumetto h5 a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.fumetto h5 a:hover {
    color: rgb(0, 162, 255);
}

.blu-bar{
    height: 100px;
    width: 100%;
    background-color: #0082F9;
    position: relative;
}

.card-comic {
    width: 100%;
    margin: 0 auto;
}

.cards-img-top {
    position: absolute;
    bottom: 20px;
    left: 20%;
    border: 2px solid white;
}

.cards-body {
    width: 60%;
    margin: 70px auto;
}

.cards-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.green-bar {
    background-color: #55BB59;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(3, 76, 3);
}

.price {
    color: white;
    font-weight: bold;
    padding: 0.5em;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.availability {
    display: flex;
    align-items: center;
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

.line {
    border-left: 1px solid rgb(3, 76, 3);
    height: 2em;
    margin: 0 0.5em;
}

.check {
    padding-left: 0.5em;
}


.cards-text {
    font-size: 17px;
    line-height: 1.5;
    margin: 20px 0;
    color: rgb(76, 75, 75);
}

.grey-section{
    background-color: #F6F6F6;
    padding: 40px 0;
    border-top: 2px solid rgb(239, 237, 237) ;
    color: rgb(10, 46, 137);

    h2{
        margin-bottom: 40px;
    }
}

.center-section{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.inside-cont{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray ;
    padding: 15px 0;
    
    h5{
        flex-basis: 30%;
        font-size: 1.1rem;
    }

    p{
        flex-basis: 70%;
        color: rgb(43, 157, 228);
        font-size: 0.9rem;
    }
}

.inside-cont:last-child{
    border-bottom: 1px solid lightgray ;
}

.left-container{
    flex-basis: 60%;
}

.right-container{
    flex-basis: 35%;
}