ul{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}