ul{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}.jumbotron {
    background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}

.black {
    background-color: #1C1C1C;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto;
}

.fumetto {
    width: calc(100% / 6);
    padding: 20px;
    cursor: pointer;
}


.fumetto img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}

.fumetto h5 a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.fumetto h5 a:hover {
    color: rgb(0, 162, 255);
}

.card-comic {
    width: 100%;
    margin: 0 auto;
}

.cards-img-top {
    width: 10%;
    height: 10%;
    margin: 10px;
}

.cards-body {
    padding: 20px;
}

.cards-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cards-text {
    font-size: 18px;
    line-height: 1.5;
}.container-blu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0082F9;
    padding: 50px 0;
}

.container-blu>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    font-size: 0.8rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-blu>div>img {
    height: 50px;
    max-width: 50px;
}

.footer{
    background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.list {
    text-align: start;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

#list>ul>li {
    list-style: none;
    color: lightgray;
    margin-right: 20px;
    font-size: 0.8rem;
    line-height: 22px;
    cursor: pointer;
}
#list>ul>h3{
    font-size: 1.0rem;
    margin-left: 10px;
    margin-top: 10px;
}

#list > ul {
    display: block;
}

.footer-bg{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social{
    background: rgb(44, 44, 44);
    padding: 30px;
}

.social div:first-child{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.follow div:first-child {
    margin-right: 5px;
    color: #0082F9;
    width: 100px;
}

.follow div:last-child > img{
    margin: 0 5px;
}

.follow, .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    padding: 10px;
    border: 2px solid #0082F9;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

